<div id="contact-form">
  <div>
    <h3>Get in touch!</h3>
    <% @contact = Contact.new %>
    <%= simple_form_for @contact, :html => {:class => 'form-horizontal' } do |f| %>
      <%= f.input :name, :label => 'Name:', :required => false %>
      <%= f.input :email, :label => 'Email address:', :required => false %>
      <%= f.input :reason, :label => "Why are you contacting me?", collection: [
        'Job offer', "We're already friends", "We should be friends", "Just cuz..."
        ], prompt: "pick one" %>
      <%= f.input :message, :label => "What's on your mind, please:",
          :as => :text, :required => false %>
      <div class= "hidden">
        <%= f.input :nickname, :hint => 'Leave this field blank!' %>
      </div>
      <div>
        </br>
        <%= f.button :submit, 'Send message', :class=> "btn btn-green" %>
      </div>
    <% end %>
  </div>
</div>
