<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3"></div>
    <div id="experience-text-backdrop" class="col-xs-8 offset-xs-4">
      <div class="nav-spacer"></div>
      <div id="experience-text">
        <h3>Recent Experience:</h3>


        <!-- QubedSpace Start-up Prototype Experience -->
        <ul>
          <li> Backend developer for QubedSpace: (January-March 2016)
            <ul>
              <li> Ruby on Rails, Google Maps API</li>
              <li> Prototype for start-up </li>
              <li> Intended to provide peer-to-peer storage services similar to
                <%= link_to('Spacer', 'https://www.spacer.com') %></li>
              <li> Check out the <%= link_to('QubedSpace prototype', 'https://qubed-space-zero-zero.herokuapp.com') %></li>
            </ul>
          </li>
        </ul>

        <!-- FreeCodeCamp Frontend Certification -->
        <ul>
          <li> FreeCodeCamp Front End Certification: (April-August 2016)
            <ul>
              <li> HTML, CSS, JavaScript, JSON APIs</li>
              <li> Check out my <%= link_to('front-end certification', 'https://www.freecodecamp.com/jdenman6/front-end-certification') %></li>
            </ul>
          </li>
        </ul>

        <!--  HackerRank Experience  -->
        <ul>
          <li> Practice and learning through HackerRank: (September 2016 - March 2017)
            <ul>
              <li> Ruby, Python, Java</li>
              <li> Number-one ranked in Ruby and in Python</li>
              <li> Check out my <%= link_to('HackerRank profile', 'https://www.hackerrank.com/JDenman6') %></li>
            </ul>
          </li>
        </ul>

        <!-- CoderDojo Volunteer Experience -->
        <ul>
          <li> Volunteer mentor with the Charles River Coder Dojo: (January 2016 - Today)
            <ul>
              <li> MIT Scratch</li>
              <li> Check out the <%= link_to('Charles River Coder Dojo','https://zen.coderdojo.com/dojo/776') %> </li>
              <li> And the time <%= link_to('they wrote about us in Slate', 'http://www.slate.com/articles/technology/future_tense/2017/03/coderdojos_get_kids_excited_about_programming_by_turning_them_loose.html') %></li>
            </ul>
          </li>
        </ul>

        <!--  LogMeIn SalesForce.com Admin Experience  -->
        <ul>
          <li> Salesforce.com administration at LogMeIn: (October 2015 - Today)
            <ul>
              <li> Salesforce.com</li>
              <li> Major improvements in data quality</li>
              <li> Witnessed the evolution and integration of two separate Salesforce.com systems</li>
            </ul>
          </li>
        </ul>

        <!--  sSQ Editor Experience -->
        <ul>
          <li> The editor for <%= link_to('SearchSoftwareQuality', 'http://searchsoftwarequality.techtarget.com/') %>: (Back in the day - June 2015)
            <ul>
              <li>Excellent written and verbal communication skills</li>
              <li>I interviewed business, academic, and technical experts and wrote articles like:</li>
              <li>
                <%= link_to('Enterprise architecture trends in 2015','http://searchsoftwarequality.techtarget.com/blog/Software-Quality-Insights/Containers-microservices-and-DevOps-oh-my-the-big-trends-in-enterprise-open-source') %></li>
              <li>
                <%= link_to('The "Stop 29119" movement', 'http://searchsoftwarequality.techtarget.com/news/2240230293/Software-testers-petition-to-stop-ISO-29119') %>
              </li>
              <li>
                <%= link_to('The right change control tool for the job', 'http://searchsoftwarequality.techtarget.com/tip/Change-control-tools-keep-change-control-regulated') %>
              </li>
            </ul>
          </li>
        </ul>

        <!-- App Academy Experience -->
        <ul>
          <li> Student at <%= link_to('AppAcademy', 'https://www.appacademy.io/immersive/curriculum') %>: (July-August, 2015)
            <ul>
              <li>Ruby on Rails, Test-Driven Development</li>
              <li>Was the wrong fit for me, but I still loved the experience!</li>
            </ul>
          </li>
        </ul>








      </div>
    </div>
  </div>
</div>
