<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3"></div>
    <div id="experience-text-backdrop" class="col-xs-8 offset-xs-4">
      <div class="nav-spacer"></div>
      <div id="experience-text">
        <h3>Recent Experience:</h3>
        <!-- QubedSpace Start-up Prototype Experience -->
          <h4> Backend developer for QubedSpace: <span class="exp-date">(January-March 2016)</span> </h4>
            <ul>
              <li class="skills"> Ruby on Rails, Google Maps API</li>
              <li> Prototype for start-up </li>
              <li> Intended to provide peer-to-peer storage services similar to
                <%= link_to('Spacer', 'https://www.spacer.com') %></li>
              <li> Check out the <%= link_to('QubedSpace prototype', 'https://qubed-space-zero-zero.herokuapp.com') %></li>
            </ul>

        <!-- FreeCodeCamp Frontend Certification -->
          <h4> FreeCodeCamp Front End Certification: <span class="exp-date">(April-August 2016)</span> </h4>
            <ul>
              <li class="skills"> HTML, CSS, JavaScript, JSON APIs</li>
              <li> Check out my <%= link_to('front-end certification', 'https://www.freecodecamp.com/jdenman6/front-end-certification') %></li>
              <li> And/or my <%= link_to('FreeCodeCamp profile', 'https://www.freecodecamp.com/jdenman6') %> </li>
            </ul>

        <!--  HackerRank Experience  -->
          <h4> Practice and learning through HackerRank: <span class="exp-date">(September 2016 - March 2017)</span> </h4>
            <ul>
              <li class="skills"> Ruby, Python, Java</li>
              <li> Number-one ranked in Ruby and in Python</li>
              <li> Check out my <%= link_to('HackerRank profile', 'https://www.hackerrank.com/JDenman6') %></li>
            </ul>

        <!-- CoderDojo Volunteer Experience -->
          <h4> Volunteer mentor with the Charles River Coder Dojo: <span class="exp-date">(January 2016 - Today)</span> </h4>
            <ul>
              <li class="skills"> MIT Scratch</li>
              <li> Check out the <%= link_to('Charles River Coder Dojo','https://zen.coderdojo.com/dojo/776') %> </li>
              <li> And the time <%= link_to('they wrote about us in Slate', 'http://www.slate.com/articles/technology/future_tense/2017/03/coderdojos_get_kids_excited_about_programming_by_turning_them_loose.html') %></li>
            </ul>

        <!--  LogMeIn SalesForce.com Admin Experience  -->
          <h4> Salesforce.com administration at LogMeIn: <span class="exp-date">(October 2015 - Today)</span> </h4>
            <ul>
              <li class="skills"> Salesforce.com</li>
              <li> Major improvements in data quality</li>
              <li> Witnessed the evolution and integration of two separate Salesforce.com systems</li>
            </ul>

        <!--  sSQ Editor Experience -->
          <h4> The editor for <%= link_to('SearchSoftwareQuality', 'http://searchsoftwarequality.techtarget.com/') %>: <span class="exp-date">(Back in the day - June 2015)</span> </h4>
            <ul>
              <li class="skills">Excellent written and verbal communication skills</li>
              <li>I interviewed business, academic, and technical experts and wrote articles like:</li>
              <li>
                <%= link_to('Enterprise architecture trends in 2015','http://searchsoftwarequality.techtarget.com/blog/Software-Quality-Insights/Containers-microservices-and-DevOps-oh-my-the-big-trends-in-enterprise-open-source') %></li>
              <li>
                <%= link_to('The "Stop 29119" movement', 'http://searchsoftwarequality.techtarget.com/news/2240230293/Software-testers-petition-to-stop-ISO-29119') %>
              </li>
              <li>
                <%= link_to('The right change control tool for the job', 'http://searchsoftwarequality.techtarget.com/tip/Change-control-tools-keep-change-control-regulated') %>
              </li>
            </ul>

        <!-- App Academy Experience

          <li> Student at <%= link_to('AppAcademy', 'https://www.appacademy.io/immersive/curriculum') %>: <span class="exp-date">(July-August, 2015)</span>
            <ul>
              <li>Ruby on Rails, Test-Driven Development</li>
              <li>Was the wrong fit for me, but I still loved the experience!</li>
            </ul>
          </li>
      -->

      </div>
    </div>
  </div>
</div>
