<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<%= javascript_include_tag params[:controller] %>
<%= stylesheet_link_tag params[:controller] %>

<%= render "navbar" %>
<%= content_tag(:a, '', :id => 'bio') %>
<div class="nav-spacer"></div>

<% flash.each do |key, value| %>
  <h2 class="flash-message">
    <%= content_tag :div, value, class: "flash #{key}" %>
  </h2>
<% end %>

<div id="bio-section">
  <%= render "bio" %>
  <%= content_tag(:a, '', :id => 'works') %>
</div>

<div id="works-section">
  <div class="nav-spacer"></div>
  <%= render "works" %>
  <%= content_tag(:a, '', :id => 'third') %>
</div>

<div id="third-section">
  <%= render "third" %>
  <%= content_tag(:a, '', :id => 'contact') %>
</div>

<div id="contact-section">
  <div class="nav-spacer"></div>
  <%= render "contact_form" %>
  <%= render "social_buttons" %>
</div>

<div id="footer">

</div>
