<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"/>
<%= javascript_include_tag params[:controller] %>
<%= stylesheet_link_tag params[:controller] %>

<%= render "navbar" %>
<%= content_tag(:a, '', :id => 'bio') %>
<div class="nav-spacer"></div>

<% flash.each do |key, value| %>
  <h2 class="flash-message">
    <%= content_tag :div, value, class: "flash #{key}" %>
  </h2>
<% end %>

<div id="bio-section">
  <%= render "bio" %>
  <%= content_tag(:a, '', :id => 'works') %>
</div>

<div id="works-section">
  <div class="nav-spacer"></div>
  <%= render "works" %>
  <%= content_tag(:a, '', :id => 'third') %>
</div>

<div id="third-section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-3"></div>
      <div id="third-text-backdrop" class="col-xs-8 offset-xs-4">
        <div class="nav-spacer"></div>
        <div id="third-text">
          <h1>Check out the new section!</h1>
        </div>
      </div>
    </div>
  </div>
  <%= content_tag(:a, '', :id => 'contact') %>
</div>

<div id="contact-section">
  <div class="nav-spacer"></div>
  <%= render "contact_form" %>
  <%= render "social_buttons" %>
</div>

<div id="footer">

</div>
